*{
    font-family: 'Tahoma';
}

#main-content{
    height: 100vh;
}

.bg-img{
    background-image: url('./assets/webpage\ bg3.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    top: 150px;
    right: 80px;
}

